langgraph
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
pgvector
psycopg2-binary
asyncpg
langsmith
fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
python-multipart
fpdf2
pypdf
langchain-groq
rank_bm25

